
.body1{
background-image: url(banner.jpeg.png);
background-size: cover;
border-image-repeat: no-repeat;
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;
align-items: center;
justify-content: center;


}
.box{
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
   padding: 40px;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow:  rgba(0,0,0,10);
    border-radius: 10px;
}
.box h2{
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;

    
}
.box .inputBox{
    position: relative;
    margin-bottom: 20px;
    position: relative;
} 

.box .inputBox input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    margin-bottom:30px;
    border:none;
    border-bottom: 1px solid#fff;
    outline:none;
    background: transparent;
    

}












form .btn{
   background:#00B2FF;
    border-radius: 6px;
    border:none ;
    outline: none;
    color:#fff;
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    padding: 15px 0;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    /* text-transform: uppercase; */
    transition: all is ease;

}
.form .btn:hover{
    background-color: goldenrod
  

}
/* /team pagr style */
.team{
   
    background-size: cover;
    border-image-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    



}
.heading{
margin: 0 0 30px;
padding: 0;
color: #000;
text-align: center;
}








/* .btn{
    align-items: right;
    margin-left: 900px;
    margin-top: 900p;
} */
.button-class{
    margin-top: 40%;
    margin-left: 90%;
     display: inline-flex;
    position: relative;
    border-radius: 10%;
}
/* 
.mystyle{
    display: none;

} */
/* .d-flex{
    float: right;
    background:#00B2FF;
    border-radius: 3px;
    border:none ;
    outline: none;
    color:#fff;
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    padding: 0px;
    margin-top: 30px;
    width: 20%;
    font-weight: bold;
    /* text-transform: uppercase; */
    /* transition: all is ease; */
    
/* }  */

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    margin-top: 30px !important;
  }
  
  legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    margin-top: -15px;
    background-color: white;
    color: black;
  }































 @media(max-width:998px) {
    .container{
        width: calc(100vx - 35vw);
        max-width: 100%;
    } 
}






